server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ nginx_server_name }};

    ssl_certificate {{ ngxin_ssl_certificate }};
    ssl_certificate_key {{ nginx_ssl_certificate_key }};
    ssl_dhparam {{ nginx_ssl_dhparams }};

    include {{ nginx_common }}/ssl_params.conf;

    root {{ nginx_static_root }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
