[Unit]
Description=Web server and a reverse proxy instance {{ nginx_instance }}
Documentation=man:nginx(8)
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target
ConditionFileIsExecutable=/usr/sbin/nginx

[Service]
Type=forking
PIDFile={{ nginx_pid_path }}
ExecStartPre=/usr/sbin/nginx -t -q -c {{ nginx_conf_root }}/nginx.conf -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -c {{ nginx_conf_root }}/nginx.conf -g 'daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -c {{ nginx_conf_root }}/nginx.conf -s reload
ExecStop=/usr/sbin/nginx -s quit
TimeoutStopSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
