server {
    listen {{ nginx_instance_port }};
    listen [::]:{{ nginx_instance_port }};
    server_name {{ nginx_vhost.server_name }};

    # healthcheck
    location = /acme {
        add_header Content-Type text/plain;
        return 200 'OK';
    }

    # location for ACME-challenge
    location ^~ /.well-known/acme-challenge/ {
        root {{ nginx_acme_root }};
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
