PermitRootLogin {{ ssh_permit_root_login }}
PasswordAuthentication {{ ssh_password_authentication }}
PermitEmptyPasswords {{ ssh_permit_empty_passwords }}
PubkeyAuthentication {{ ssh_pubkey_authentication }}
Port {{ ssh_port }}
