[Unit]
Description=Web server and a reverse proxy instance %I
Documentation=man:nginx(8)
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target
ConditionFileIsExecutable=/usr/sbin/nginx

[Service]
Type=forking
#  Имя инстанса, подставляется systemd при старте nginx@name
PIDFile={{ services_apps_root }}/nginx/%i/var/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -q -c {{ services_apps_root }}/nginx/%i/conf/nginx.conf -g 'pid {{ services_apps_root }}/nginx/%i/var/nginx.pid; daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -c {{ services_apps_root }}/nginx/%i/conf/nginx.conf -g 'pid {{ services_apps_root }}/nginx/%i/var/nginx.pid; daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -c {{ services_apps_root }}/nginx/%i/conf/nginx.conf -s reload -g 'pid {{ services_apps_root }}/nginx/%i/var/nginx.pid;'
ExecStop=/usr/sbin/nginx -s quit -g 'pid {{ services_apps_root }}/nginx/%i/var/nginx.pid;'
TimeoutStopSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
