user www-data;
worker_processes auto;
worker_cpu_affinity auto;
pid {{ nginx_pid_path }};
error_log {{ nginx_err_log_path }};

events {
    worker_connections 768;
}

http {
    include {{ nginx_common }}/http_params.conf;
    include {{ nginx_mime_types_path }};
    default_type application/octet-stream;

    access_log {{ nginx_access_log_path }};

    gzip on;

    {% for path in nginx_include_conf_list%}
        include {{ path }};
    {% endfor %}
}
